.boxDetailProduct {
  cursor: pointer;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 10px 15px 10px 15px;
  display: inline-block;
  box-sizing: border-box;
  :hover {
    color: var(--clr-primary);
  }
}

.boxActiveDetailProduct {
  box-shadow: inset 0 2.5px 0.5px var(--clr-primary);
  color: var(--clr-primary);
}

.boxReference {
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: var(--clr-bg-gray);
  padding: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 30px;
  width: fit-content;
  :hover {
    color: var(--clr-primary);
  }
}

.boxActiveReference {
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-bg-pink);
  color: var(--clr-primary);
  box-sizing: border-box;
}
