.productCarousel {
  margin-bottom: 20px;
}
.button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--clr-bg-light-red);
  border-color: var(--clr-primary);
  color: var(--clr-primary);
  border-width: 1px;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  height: 30px;
  display: flex;
  margin-right: 0.5rem;
  margin-bottom: 10px;
}
.tab {
  margin-bottom: 10px;
  color: black;
  font-weight: 700;
  background-color: rgb(217 217 217);
  border-radius: 0.5rem;
  border: solid 1px var(--clr-bg-gray);
  &[data-active] {
    z-index: 1;
    border: solid 1px var(--clr-primary);
    color: var(--clr-primary);
    background-color: var(--clr-bg-light-red);

    @mixin hover {
      background-color: var(--clr-bg-light-red);
    }
  }
}
