.accessoriesContainer {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px 0px;

  .accessoriesList {
    display: flex;
        width: 100%;
        // min-width: 900px;
        flex-wrap: nowrap;
        line-height: 24px;
        gap: 10px;
        justify-content: space-between;
        flex-direction: row;
       
    .accessories {
      width: calc(100% / 6 - 10px);
      border-radius: 10px;
      padding: 4px 4px; 
      
      img{
        border-radius: 20%;
      }
    }
  }
}
