.questionsBox {
  width: 100%;
  margin-bottom: 20px;
  padding: 0px 20px;
  border: 1px solid var(--clr-bg-gray);
  border-radius: 8px;
  background-color: var(--clr-bg-gray-light);

  .title {
    font-size: 20px;
    margin-bottom: 0px;
    text-align: center;
    color: var(--clr-text-primary);
  }

  .questionCard {
    border-radius: 10px;
  }

  .questionList {
    list-style: none;
    padding: 0;
  }

  .questionItem {
    border: 1px solid var(--clr-bg-gray);
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-text-white);
    border: none;
    border-radius: 10px;
    text-align: left;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 20px;
    cursor: pointer;
    outline: none;

    .icon {
      transition: transform 0.5s ease;
    }

    .rotateIcon {
      transform: rotate(90deg);
    }

    .activeText {
      color: var(--clr-text-primary);
    }
  }

  .question:hover {
    background-color: var(--clr-bg-pink);
  }

  .activeBgColor {
    background-color: var(--clr-bg-pink);
  }

  .answer {
    font-size: 14px;
    text-align: justify;
    padding: 0px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--clr-bg-hot-pink);
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.5s ease, padding 0.5s ease, opacity 0.5s ease,
      transform 0.5s ease;
  }

  .answerShow {
    padding: 15px 20px;
    max-height: none;
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 799px) {
  .questionsBox {
    margin: 10px 0px;
    padding: 0px 10px;

    .title {
      font-size: 16px;
    }

    .question {
      font-size: 14px;
      padding: 10px;
    }

    .answer {
      font-size: 14px;
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 1023px) {
  .questionsBox {
    margin: 10px 0px;
    padding: 10px;

    .title {
      font-size: 18px;
    }

    .question {
      font-size: 14px;
      padding: 10px;
    }

    .answer {
      font-size: 14px;
    }
  }
}
