.storeStock {
  border: 1px solid var(--clr-border-red-pink);
  border-radius: 12px;
  margin-bottom: 20px;
  .giftsIncentivesHeader {
    display: flex;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: var(--clr-bg-light-red);
    color: #ffffff;
    padding: 6px 10px;
    gap: 9px;
    align-items: center;

    p {
      font-size: 15px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
      color: var(--clr-light-primary);
    }
  }
}
.addressStoreStockWrapper {
  padding: 3px 30px;
}
.addressStoreStock {
  font-size: 0.675rem;
  line-height: 1.05rem;
  padding: 10px 0;
  border-bottom: 1px dashed #dcaeae;
}
.extra {
  font-size: 13px !important;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--clr-light-primary);

  cursor: pointer;
  display: flex;
  align-items: center;
}
