.slideMenu {
  flex: 0 0 calc(59% - 4px);
  max-width: calc(59% - 4px);
  background-color: yellow;
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
  .slideMenu {
    flex: 0 0 calc(76% - 18px);
    max-width: calc(76% - 18px);
  }
}

@media only screen and (max-width: 800px) {
  .slideMenu {
    flex: auto;
    max-width: 100%;
  }
}
