.productListBox {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  .product {
    width: calc(25% - 10px);

    @media only screen and (max-width: 1200px) and (min-width: 700px) {
      width: calc(100% / 3 - 10px);
    }
    @media only screen and (max-width: 700px) {
      width: calc(100% / 2 - 10px);
    }
  }
}
.paginationContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}
.noValue {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
