.replyWrap {
  position: relative;
  background-color: white;
  border-radius: 8px;
  padding-left: 10px;
  margin-left: 80px;
  margin-bottom: 30px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.arrowUp {
  width: 0;
  height: 0;
  transform: translate(0, -100%);
  border-bottom: 10px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  filter: drop-shadow(0 -1px 0.5px rgba(0, 0, 0, 0.16));
}

// .replyWrap::before {
//   content: "";
//   position: absolute;
//   top: 0px;
//   left: 20px;
//   transform: translate(-50%, -50%) rotate(45deg);
//   width: 0;
//   height: 0;
//   border-style: solid;
//   border-width: 15px 15px 0 0; /* Điều chỉnh giá trị để tạo hình tam giác */
//   border-color: white transparent transparent transparent; /* Màu sắc của tam giác, nên trùng với màu nền của replyWrap */
//   box-shadow: -1px -1px 2px 0 rgba(60, 64, 67, 0.1),
//     -2px -2px 6px 2px rgba(60, 64, 67, 0.15);
// }

.avtbox {
  height: 60px;
  width: 60px;
  font-size: 24px;
  color: #3a506d;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebf0f8;
}
.admavtbox {
  height: 60px;
  width: 60px;
  font-size: 24px;
  color: #3a506d;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary);
}
.chat {
  padding-left: 1rem;
  margin: 20px 10px;
  padding-bottom: 10px;
  width: calc(90% - 5px);
  .name {
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .date {
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #787878;
  }
  .comment {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #1f2123;
  }
}
.imgbox {
  width: calc(10% - 5px);
  height: 78px;
  .logo {
    width: 100%;
    object-fit: scale-down;
    height: 100%;
  }
}

@media only screen and (max-width: 801px) {
  .replyWrap {
    margin: 0 4px 30px;
  }
}
