.info {
  margin: 5px 0px;
  display: flex;
  gap: 10px;

  .fix {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #db2a11;
    font-weight: 500;
  }

  .guarantee {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #43ae4f;
    font-weight: 500;
  }
}
