.SearchTrends {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.keyword {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  .keywordbox {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid #f0e6e6;
    margin-bottom: 5px;
  }
}
